{% extends "layouts.html" %}
{% block content %}
<div style="margin-left:30px;">
    <title>Search Results</title>
    <h2>You Searched for: </h2>
    <h3>{{ searched }}</h3>
    <h4>Found {{posts.total}} Results</h4>
    <br>
    <br>
    {% for post in posts.items %}
    <article class="media content-section w-50">
          <img class="rounded-circle article-img" src="{{ url_for('static', filename='profile_pics/' + post.author.image_file) }}">
          <div class="media-body">
            <div class="article-metadata">
              <a class="mr-2" href="{{url_for('users.user_posts', username=post.author.username)}}">{{ post.author.username }}</a>
              <small class="text-muted">{{ post.date_posted.strftime('%m-%d-%Y') }}</small>
            </div>
            <h2><a class="article-title" href="{{ url_for('posts.post', post_id=post.id) }}">{{ post.title }}</a></h2>
            <p class="article-content">{{ post.content }}</p>
          </div>
        </article>
    {% endfor %}
</div>
{% endblock content %}